.mentor-container img {
    height: 15rem;
    width: 14.5rem;  
}
.mentor-container{
     width: 14.6rem;
     margin-top: 1rem;
}
.title-container{
    text-align: center;
    margin-top: 2rem;
    border: none;
    text-align: center;
    
}
.mentor-title {
    color: #ed563b;
}
.mentor-name{
    color: #ed563b;
}
.title-container img {
    margin-left: 1%;
}

/*-----------------------------------
 Services Responsive for mobile device 
 ------------------------------------*/
 @media only screen and (max-width: 576px) {
    .mentor-container{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      
    }
  }