.review-container{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    gap: 1%;
    margin-bottom: 2rem;
}
.review-title{
    color:  #ed563b;
    text-align: center;
    margin-top: 1rem;
}

/*-----------------------------------
 Services Responsive for Mobile device 
 ------------------------------------*/

@media only screen and (max-width: 600px) {

    .review-container{
        display: grid;
        grid-template-columns: 1fr ;
    }
    
}
/*-----------------------------------
 Services Responsive for tab device 
 ------------------------------------*/
@media only screen and (min-width: 576px) and (max-width: 960px) {
    .review-container{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     
   }
}

