
.bcm-member img{

    width: 100%;
}
.bcm-style{
    position: relative;
    color: #ed563b;
}
.bcm-member{
    margin-top: 3rem;
    text-align: center;
}
.member-btn{
    background-color: #ed563b;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    border: none;
}
