.services {
  display: flex;
  align-items: center;
  margin-left: 40%;
  margin-top: 10px;
}

.services img {
  padding-left: 15px;
}

.services-title {
  color: #ed563b;
}


.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 8px;

}


/*-----------------------------------
 Services Responsive for mobile device 
 ------------------------------------*/
@media only screen and (max-width: 576px) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

  }
}

/*-----------------------------------
 Services Responsive for tab device 
 ------------------------------------*/

@media only screen and (min-width: 576px) and (max-width: 966px) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }
}

@media only screen and (max-width: 400px) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .services {
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-top: 10px;
  }
}