.register-container{
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.register-btn{
    width: 100%;
    /* background-color: #ed563b; */
    border: none;
    font-weight: 600;
    padding: 8px;
}
.register-title{
    text-align: center;
    padding: 6px;
}


@media only screen and (max-width: 570px) {
   .register-container{
       width: 100%;
       margin: 5px;
   }
  }